input,
select,
textarea {
	background-color: $bg-form;
	border: 1px solid $border-form;
	color: $font-color;
	font-size: 18px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	// outline: none;
	border: 1px solid darker($border-form, 20%);
	outline: none;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
textarea {
	max-width: 100%;
	width: 100%;
	border-radius: 0;		 // Removes the border radius on iOS
	-webkit-appearance: none; // Removes the shadow on iOS
	-moz-appearance: none;
}

// Hide the spinner on input[type="number"] in Firefox
input[type='number'] {
	// -moz-appearance:textfield;
}

// Hide the spinner on input[type="number"] in Chrome/Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	// -webkit-appearance: none;
}

textarea {
	resize: vertical; // Allow only vertical resizing of textareas.
}

select {
	width: 100%;
}

.placeholder {
	text-overflow: ellipsis;
}

::placeholder {
	color: lighter($font-color, 10%);
	font-weight: 300;
	opacity: 0.8;
	text-overflow: ellipsis;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .button;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
	@extend .button:hover;
}

input[type='search'] {
	box-sizing: border-box; // Overrides normalize.css
}

.gform_wrapper {
	.gform_ajax_spinner {
		display: none !important;
	}

	.spinner {
		@extend %spinner;
		display: inline-block;
		margin-left: .5em;
		width: auto;
		vertical-align: middle;
	}
}

.search-form,
.post-password-form {
	display: flex;
	align-items: center;

	input[type='submit'] {
		margin-left: .25em;
	}
}

.search-form {
	overflow: hidden;
	
	input[type='search'] {
		flex: 1;
	}
}
.site-header {
	.search-form {
		float: right;
		margin-top: 12px;
	}
}
.entry-content,
.site-header {
	.search-form {
		width: 50%;
	}
}
.genesis-nav-menu .search,
.widget_search {
	input[type="sumbit"] {
		border: 0;
		clip: rect(0,0,0,0);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

.post-password-form {
	input[type='password'] {
		flex: 1;
	}
}
